.heading{
  font-size: 32px;
  font-weight: 700px;
  color: #f8fafc;
}
.on-top-container{
  background-color:#0f172a ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
@media screen and (min-width:768px){
  .heading{
    font-size: 64px;
  }
}
.logo-image{
  width: 150px;
  height: 150px;
}
  
@media screen and (min-width:768px){
  .logo-image{
    width: 300px;
    height: 300px;
  }
}